services:
  predictor:
    build: .
    devices:
      - "/dev/ttyACM0:/dev/ttyACM0"
    privileged: true
    volumes:
      - ./model:/model
      - ./sample:/sample
      - ./src:/src
      - ./data:/data
    command: >
      bash -c "
        ./scripts/flash_arduino.sh &&
        sleep 5
        exec python3 ./scripts/PredictFromArduino.py
      "
    tty: true
    stdin_open: true
